* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
}

header {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid black;

    img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    div {
        display: flex;
        flex-direction: column;
    }
}

footer {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    p {
        text-align: start;
        font-size: 14px;
    }

    button {
        background: transparent;
        outline: none;
        text-align: center;
        border: none;
        cursor: pointer;
    }
}

.error-stack {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .message {
        background: red;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        opacity: 1;
        animation: fadeInOut 3s ease-in-out forwards;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}