* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
}

header {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid black;

    img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    div {
        display: flex;
        flex-direction: column;
    }
}

footer {
    display: flex;
    background: black;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    p {
        text-align: start;
        font-size: 14px;
    }

    button {
        color: white;
        background: transparent;
        outline: none;
        text-align: center;
        border: none;
        cursor: pointer;
    }
}