.reset-password-page-fail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex: 1;
    font-size: 20px;
}

.reset-password-page-success {
    display: flex;
    margin: 20px 30px;
    flex-direction: column;
    gap: 20px;

    form {
        display: grid;
        gap: 20px;
        grid-template-columns: max-content 250px max-content;
        height: max-content;
        align-items: center;
        border-radius: 10px;

        input {
            padding: 5px 10px;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            border-radius: 0;
            background: none;
        }

        button {
            border: none;
            outline: none;
            background: black;
            color: white;
            padding: 5px 20px;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: span 3;
            width: max-content;
            margin-left: auto;
        }

        i {
            cursor: pointer;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    ul {
        list-style-type: none;
        margin-top: 10px;
        grid-column: span 2;
    }

    li {
        display: flex;
        align-items: center;

        &::before {
            font: var(--fa-font-solid);
            width: 16px;
            display: flex;
            justify-content: center;
            margin-right: 10px;
        }
    }

    li.check {
        color: green;

        &::before {
            content: "\f00c";
        }
    }

    li.cross {
        color: red;

        &::before {
            content: "\f00d";
        }
    }

    p {
        line-height: 1.7;
    }
}

@media screen and (max-width: 600px) {
    .reset-password-page-success {
        form {
            grid-template-columns: 1fr max-content !important;

            label {
                grid-column: span 2 !important;
            }

            button {
                grid-column: span 2 !important;
            }

            input {
                width: 100%;
            }
        }
    }
}